.footerWrap {
    display: flex;
    max-width: 1293px;
    height: 778px;
    margin: auto;
    background-color: #474747;
    flex-direction: column;
}

.col {
    display: flex;
    gap: 135px;
    margin-top: 120px;
    text-align: center;
}

.col1Title {
    display: flex;

}

.col1Title h1 {
    color: #FFF;

    font: 600 32px Playfair Display;
}



.imgCol1 {
    background-image: url(../../../public/assets/Footer/japanese-food\ \(1\).svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 55px;
    border-radius: 12px;
    margin: auto;
}

.col2 {
    display: flex;
    gap: 120px;
}

.col1 p,
.col2 p {
    margin-top: 30px;
    color: var(--neutral-01, #FFF);
    font: 400 16px DM Sans;
}

.col3 {
    display: flex;
    flex-direction: column;

}

.col2 h1,
.col3 h1 {
    color: var(--neutral-01, #FFF);
    font: 700 16px DM Sans;
    margin-bottom: 40px;
}

.imgsCol3 {
    display: flex;
    flex-wrap: wrap;

}

.img1 {
    background-image: url(../../../public/assets/Footer/pexels-steve-3789885\ 1.svg);
    background-repeat: no-repeat;
    width: 222px;
    height: 176px;
    border-radius: 12px;
    margin: auto;
}

.img2 {
    background-image: url(../../../public/assets/Footer/eiliv-aceron-d5PbKQJ0Lu8-unsplash\ 1.svg);
    background-repeat: no-repeat;
    width: 222px;
    height: 176px;
    border-radius: 12px;
    margin: auto;
}

.img3 {
    background-image: url(../../../public/assets/Footer/pexels-ella-olsson-1640772\ 1.svg);
    background-repeat: no-repeat;
    width: 222px;
    height: 176px;
    border-radius: 12px;
    margin: auto;
}

.img4 {
    background-image: url(../../../public/assets/Footer/pexels-ash-376464\ 1.svg);
    background-repeat: no-repeat;
    width: 222px;
    height: 176px;
    border-radius: 12px;
    margin: auto;
}

.hashtag {
    color: var(--neutral-04, #ADB29E);
    margin-top: 130px;
    font: 400 16px DM Sans;
    text-align: center;
}